In [7]:
using Parameters       # @unpack
using QuantEcon        # rouwenhorst
using LinearAlgebra    # dot
using Roots            # findzero
using SparseArrays     # SparseMatrixCSC
using IterativeSolvers # powm!
using Plots            # Plots
using NBInclude        # including notebooks instead of jl files
using MAT              ####  write the .m file 
using DataFrames
using Printf

In [8]:
@nbinclude("Simulation_SP.ipynb");

# APPENDIX D6
### TABLE 7
###  Report the theoretical moments of 3 economies

Eco 1 is optimal

Eco 2 is Pi^P = 1

Eco 3 is Taylor

In [9]:
## The normalized standard deviation in percent, equal to the standard deviation divided by the mean *100 
## Except for u, Pi^P, Pi^W, index_RBN, r, tauk, taul for which the standard deviation *100 is reported.

describe_simulation("baseline",3)

13×7 DataFrame
 Row │ Variable  Mean_Eco_1  Std_Eco_1  Mean_Eco_2  Std_Eco_2  Mean_Eco_3  Std ⋯
     │ Any       Float64     Float64    Float64     Float64    Float64     Flo ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ GDP            1.431      1.48        1.431      1.481       1.431      ⋯
   2 │ Ctot           0.9        1.338       0.9        1.343       0.9
   3 │ Ltot           0.392      0.221       0.392      0.174       0.392
   4 │ K             14.311      1.547      14.311      1.548      14.311
   5 │ RBN            1.011      0.054       1.011      0.033       1.011      ⋯
   6 │ r              0.007      0.025       0.007      0.022       0.007
   7 │ B              3.637      0.619       3.637      0.619       3.637
   8 │ TT             0.114      4.705       0.114      6.045       0.114
   9 │ PI             1.0        0.02        1.0        0.0         1.0        ⋯
  10 │ piw            0.0        0.449       0.0        0.285       0.0
  11 │ taul           0.28       0.0         0.28       0.0         0.28
  12 │ tauk           0.36       0.0         0.36       0.0         0.36
  13 │ u              0.0        1.013       0.0        1.013       0.0        ⋯
                                                                1 column omitted

8×4 DataFrame
 Row │ Variable        corr_Eco_1  corr_Eco_2  corr_Eco_3
     │ Any             Float64     Float64     Float64
─────┼────────────────────────────────────────────────────
   1 │ corr(Pip,Y)          0.204     NaN           0.113
   2 │ corr(Piw,Y)          0.125       0.157       0.157
   3 │ corr(tau^k, Y)     NaN         NaN         NaN
   4 │ corr(tau^L,Y)      NaN         NaN         NaN
   5 │ corr(B,Y)           -0.971      -0.972      -0.976
   6 │ corr(C,Y)            0.949       0.943       0.934
   7 │ corr(Y,Y(-1))        0.979       0.967       0.967
   8 │ corr(B,B(-1))        0.96        0.966       0.966

# APPENDIX D7 
### TABLE 8
####  Report the theoretical moments of 3 economies with the refined truncation

Eco 1 is optimal

Eco 2 is Pi^P = 1

In [12]:
# TABLE 8 
describe_simulation("refined",2)

13×5 DataFrame
 Row │ Variable  Mean_Eco_1  Std_Eco_1  Mean_Eco_2  Std_Eco_2
     │ Any       Float64     Float64    Float64     Float64
─────┼────────────────────────────────────────────────────────
   1 │ GDP            1.431      1.499       1.431      1.499
   2 │ Ctot           0.9        1.34        0.9        1.343
   3 │ Ltot           0.392      0.223       0.392      0.18
   4 │ K             14.311      1.6        14.311      1.599
   5 │ RBN            1.011      0.054       1.011      0.034
   6 │ r              0.007      0.025       0.007      0.023
   7 │ B              3.637      0.619       3.637      0.62
   8 │ TT             0.114      4.785       0.114      6.079
   9 │ PI             1.0        0.02        1.0        0.0
  10 │ piw            0.0        0.426       0.0        0.285
  11 │ taul           0.28       0.0         0.28       0.0
  12 │ tauk           0.36       0.0         0.36       0.0
  13 │ u              0.0        1.013       0.0        1.013

8×3 DataFrame
 Row │ Variable        corr_Eco_1  corr_Eco_2
     │ Any             Float64     Float64
─────┼────────────────────────────────────────
   1 │ corr(Pip,Y)          0.206     NaN
   2 │ corr(Piw,Y)          0.127       0.154
   3 │ corr(tau^k, Y)     NaN         NaN
   4 │ corr(tau^L,Y)      NaN         NaN
   5 │ corr(B,Y)           -0.971      -0.971
   6 │ corr(C,Y)            0.945       0.94
   7 │ corr(Y,Y(-1))        0.979       0.968
   8 │ corr(B,B(-1))        0.96        0.966

# Table 8: APPENDIX J

Eco 1 is optimal

Eco 2 is Pi^P = 1

Eco 3 is Taylor !!! 

Eco 4 is cyclical tax rates

In [ ]:
# ATTENTION, TAYLOR_BASELINE = ECON 3 : A CHANGER 

## The normalized standard deviation in percent, equal to the standard deviation divided by the mean *100 
## Except for u and inflations, for which the standard deviation *100 is reported.

# Eco 1 is optimal, Eco 2 is Pi^P = 1, Eco 3 is Taylor (A CHANGER!!) Eco 4 is cyclical tax rates 
describe_simulation("unequal",4)